<div class="comentarios">
    <div>
    @for (c of this.comentariosMostrados; track c._id) {
        <p>
        <strong>{{ c.usuarioId?.usuario ?? 'Anónimo' }}:</strong> {{ c.texto }}
        <small>{{ c.fecha | date:'short' }}</small>
        </p>
    }
    </div>

    @if (this.mostrarToggle) {
    <a (click)="verMas()" class="ver-mas">
        {{ verTodo ? 'Ver menos' : 'Ver más' }}
    </a>
    }

  <div class="comentario-form">
    <input [formControl]="textoCtrl" placeholder="Escribí un comentario..." required />
    <button (click)="agregar()" [disabled]="!textoCtrl.value?.trim()">Enviar</button>
  </div>
</div>
