<div class="comentarios">
  <div class="comentarios-lista">
    @for (c of this.comentariosMostrados; track c._id) {
      <div class="comentario-item">
        @if (!this.modoEdicion[c._id]) {
          <p>
            <strong>{{ c.usuarioId?.usuario ?? 'Anónimo' }}:</strong> {{ c.texto }}
            @if (c.modificado) {
              <span>(Editado)</span>
            }
            <small>{{ c.fecha | date: 'short' }}</small>
            @if (c.usuarioId?._id === this.usuarioLogueadoId) {
              <a class="link-editar" (click)="activarEdicion(c)">Editar</a>
            }
          </p>
        } @else if (c.usuarioId?._id === this.usuarioLogueadoId) {
          <textarea
            [ngModel]="textoEditado[c._id]"
            (ngModelChange)="textoEditado[c._id] = $event"
          ></textarea>
          <div class="acciones-edicion comentario-form">
            <button (click)="guardarEdicion(c)">Guardar</button>
            <button (click)="modoEdicion[c._id] = false">Cancelar</button>
            <button (click)="eliminarComentario(c._id)">Eliminar</button>
          </div>
        }
      </div>
    }
  </div>

  @if (this.mostrarToggle) {
    <a (click)="verMas()" class="ver-mas">
      {{ verTodo ? 'Ver menos' : 'Ver más' }}
    </a>
  }

  <div class="comentario-form">
    <input [formControl]="textoCtrl" placeholder="Escribí un comentario..." required />
    <button (click)="agregar()" [disabled]="!textoCtrl.value?.trim()">Enviar</button>
  </div>
</div>
