.comentarios {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 12px;
  color: white;
  font-size: 0.95rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.comentarios-lista {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.comentario-item p {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.4rem;
}

.comentarios strong {
  color: #ff66b2;
}

.comentarios span {
  color: #ccc;
  font-size: 0.85rem;
}

.comentarios small {
  color: #888;
  font-size: 0.75rem;
}

.link-editar {
  color: #ff66b2;
  text-decoration: underline;
  font-size: 0.85rem;
  cursor: pointer;
  margin-left: auto;
}

.link-editar:hover {
  color: #ff1493;
  text-shadow: 0 0 6px #ff1493;
  background-color: #f5f4f4;
}

.comentarios textarea {
  width: 100%;
  padding: 6px;
  border-radius: 4px;
  background-color: #222;
  color: white;
  border: 1px solid #ff66b2;
}

.acciones-edicion {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.4rem;
}

.comentario-form {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-top: auto;
}

.comentario-form input {
  flex: 1;
  padding: 8px;
  background-color: #111;
  border: 1px solid #ff66b2;
  border-radius: 4px;
  color: white;
}

.comentario-form input:focus {
  border-color: #ff1493;
  box-shadow: 0 0 8px #ff1493;
  background-color: #fcfcfc;
  color: rgb(0, 0, 0);
}

.comentario-form button {
  padding: 8px 16px;
  background-color: transparent;
  border: 1px solid #ff66b2;
  border-radius: 4px;
  color: #ff66b2;
  font-weight: bold;
  cursor: pointer;
}

.comentario-form button:hover {
  background-color: #ff1493;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 5px #ff1493;
}

.ver-mas {
  color: #ff66b2;
  text-decoration: underline;
  font-size: 0.85rem;
  cursor: pointer;
}

.ver-mas:hover {
  color: #ff1493;
  text-shadow: 0 0 6px #ff1493;
}
