<div class="contenedor-dashboard">
  <form>
    <div class="filtro-usuario">
      <select [formControl]="usuarioControl" id="filtroUsuario">
        <option [value]="null">Filtrar Usuarios</option>
        @for (usuario of usuarios; track usuario._id) {
          <option [value]="usuario._id">{{ usuario.nombre }}</option>
        }
      </select>
    </div>
  </form>

  <div class="listado-usuarios">
    @for (usuario of usuarioFiltrado; track usuario._id) {
      <div class="usuario-card">
        <div class="imagen-container">
          <img [src]="usuario.imagenPerfil" alt="Foto de perfil" class="foto-usuario" />
        </div>
        <div class="datos-container">
          <div class="datos-textos">
            <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
            <p><strong>Email:</strong> {{ usuario.email }}</p>
            <p><strong>Rol:</strong> {{ usuario.rol }}</p>
            <p><strong>Estado:</strong> {{ usuario.estado ? 'Activo' : 'Inactivo' }}</p>
          </div>

          @if (usuario.estado) {
            <button (click)="darDeBajaUsuario(usuario._id)">Dar de baja</button>
          } @else {
            <button (click)="darDeAltaUsuario(usuario._id)">Dar de alta</button>
          }
        </div>
      </div>
    }
  </div>
</div>
