<div class="contenedor-dashboard">

  <div class="bloque-usuarios">
    <form>
      <h4>Bloque de Usuarios</h4>
      <div class="filtro-usuario">
        <p class="titulo-filtro">Seleccioná Usuario</p>
        <select [formControl]="usuarioControl" id="filtroUsuario">
          <option [value]="null">Filtrar Usuarios</option>
          @for (usuario of usuarios; track usuario._id) {
            <option [value]="usuario._id">{{ usuario.nombre }}</option>
          }
        </select>
      </div>
    </form>

    <div class="listado-usuarios">
      @if (usuarioFiltrado.length === 0) {
        <div class="mensaje-vacio-usuarios">
          <p>No hay usuarios seleccionados</p>
        </div>
      } @else {
        @for (usuario of usuarioFiltrado; track usuario._id) {
          <div class="usuario-card">
            <div class="imagen-container">
              <img [src]="usuario.imagenPerfil" alt="Foto de perfil" class="foto-usuario" />
            </div>
            <div class="datos-container">
              <div class="datos-textos">
                <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
                <p><strong>Email:</strong> {{ usuario.email }}</p>
                <p><strong>Rol:</strong> {{ usuario.rol }}</p>
                <p><strong>Estado:</strong> {{ usuario.estado ? 'Activo' : 'Inactivo' }}</p>
              </div>

              @if (usuario.estado) {
                <button (click)="darDeBajaUsuario(usuario._id)">Dar de baja</button>
              } @else {
                <button (click)="darDeAltaUsuario(usuario._id)">Dar de alta</button>
              }
            </div>
          </div>
        }
      }
    </div>
  </div>

  <div class="bloque-publicaciones">
    <div class="acciones-dashboard">
      <h4>Bloque de Publicaciones</h4>
      <button (click)="cargarPublicacionesDadosDeBaja()">Publicaciones inactivas</button>
      <button (click)="irAEstadisticas()">Ver estadísticas</button>
    </div>

    <div class="publicacion-inactiva">
      @if (!mostrarPublicacionesDadosDeBaja) {
        <div class="mensaje-vacio">
          <p>Aún no se seleccionaron publicaciones inactivas.</p>
        </div>
      } @else if (mostrarPublicacionesDadosDeBaja && publicacionesDadosDeBaja.length > 0) {
        <div class="publicaciones-baja animate-fadein">
          <h3>Publicaciones Inactivas</h3>
          @for (pub of publicacionesDadosDeBaja.slice(offset, offset + limit); track pub._id) {
            <div class="card-wrapper">
              <app-card
                [id]="pub._id"
                [imagen]="pub.imagen"
                [pieDeFoto]="pub.pieDeFoto"
                [fecha]="pub.fecha"
                [usuario]="pub.usuarioId?.nombre"
                [like]="pub.like"
                [yaDioLike]="false"
                [esAdmin]="true"
                [activo]="pub.activo"
              ></app-card>
            </div>
          }
        </div>
      } @else {
        <div class="mensaje-vacio">
          <p>No hay publicaciones dadas de baja en este momento</p>
        </div>
      }

      <div class="paginacion">
        <button
          class="btn-estilo"
          (click)="anteriorPagina()"
          [disabled]="offset === 0"
        >
          Anterior
        </button>
        <button
          class="btn-estilo"
          (click)="siguientePagina()"
          [disabled]="!hayMasInactivas"
        >
          Siguiente
        </button>
      </div>
    </div>
</div>
<button (click)="mostrarRegistro = !mostrarRegistro">
  {{ mostrarRegistro ? 'Ocultar' : 'Registrar nuevo usuario' }}
</button>

<div [hidden]="!mostrarRegistro" class="bloque-registro">
  <h3>Registrar nuevo usuario</h3>
  <app-registro class="registro-centrado" [esEmbed]="true"></app-registro>

</div>
