@if (usuario; as user) {
  <div>
    <img [src]="user.imagenPerfil" alt="Foto de perfil" width="150" height="150" />
    <h2>{{ user.nombre }} {{ user.apellido }}</h2>
    <p><strong>Usuario:</strong> {{ user.usuario }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Descripción:</strong> {{ user.descripcion }}</p>
  </div>

  <form [formGroup]="formularioPublicacion" (ngSubmit)="subirPublicacion()" enctype="multipart/form-data">
    <input type="file" formControlName="imagen" (change)="onFileChange($event)" />
    <input type="text" formControlName="pieDeFoto" placeholder="Escribe un pie de foto..." />
    <button type="submit">Publicar</button>
  </form>

  <div>

  @if (publicaciones.length > 0) {
    <app-card
      [imagen]="publicaciones[0]?.imagen"
      [pieDeFoto]="publicaciones[0]?.pieDeFoto"
      [fecha]="publicaciones[0]?.fecha"
      [usuario]="usuario.usuario">
    </app-card>
  }

  @if (publicaciones.length > 1) {
    <app-card
      [imagen]="publicaciones[1]?.imagen"
      [pieDeFoto]="publicaciones[1]?.pieDeFoto"
      [fecha]="publicaciones[1]?.fecha"
      [usuario]="usuario.usuario">
    </app-card>
  }

  @if (publicaciones.length > 2) {
    <app-card
      [imagen]="publicaciones[2]?.imagen"
      [pieDeFoto]="publicaciones[2]?.pieDeFoto"
      [fecha]="publicaciones[2]?.fecha"
      [usuario]="usuario.usuario">
    </app-card>
  }
</div>

}
