<div class="login-wrapper">
  <div class="login-container">
    <div class="login-img"></div>

    <div class="login-formulario">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1>Red Social</h1>

        <label for="email">Correo electrónico</label>
        <input id="email" type="email" formControlName="email" />
        <div [hidden]="!showEmailRequired"><span>El correo es obligatorio.</span></div>
        <div [hidden]="!showEmailFormat"><span>Formato de correo no válido.</span></div>

        <label for="password">Contraseña</label>
        <input id="password" type="password" formControlName="password" />
        <div [hidden]="!showPasswordRequired"><span>La contraseña es obligatoria.</span></div>
        <div [hidden]="!showPasswordMinLength"><span>Mínimo 8 caracteres.</span></div>
        <div [hidden]="!showPasswordPattern"><span>Debe contener al menos una mayúscula y un número.</span></div>

        <h6>
          ¿Aún no tenés sesión? 
          <a routerLink="/registro" class="link-registro">Registrate</a>
        </h6>

        <button type="submit" class="glitch-btn" [disabled]="loginForm.invalid">
          Iniciar sesión
        </button>

      </form>
    </div>
  </div>
</div>
