<div class="publicaciones-container">

    <div class="filtros-contenedor">
        <div class="filtro-usuario">
            <select [formControl]="usuarioControl" id="filtroUsuario">
            <option [value]="null">Filtrar Usuarios</option>
            @for (usuario of usuarios; track usuario._id) {
                <option [value]="usuario._id">{{ usuario.nombre }}</option>
            }
            </select>
        </div>

        <div class="filtros">
            <button (click)="cambiarOrden('fecha')" [class.activo]="ordenarPor === 'fecha'">Ordenar por fecha</button>
            <button (click)="cambiarOrden('like')" [class.activo]="ordenarPor === 'like'">Ordenar por Likes</button>
        </div>
    </div>


    <div class="publicaciones-listado">
        @for (pub of publicaciones; track pub._id) {
            <a [routerLink]="['/publicacion', pub._id]" class="card-link">
                <app-card
                    [id]="pub._id"
                    [imagen]="pub.imagen"
                    [pieDeFoto]="pub.pieDeFoto"
                    [fecha]="pub.fecha"
                    [usuario]="pub.usuarioId.nombre"
                    [like]="pub.like"
                    [yaDioLike]="pub.yaDioLike"
                />
            </a>
        }
    </div>

    <div class="paginacion">
    <button class="btn-estilo" (click)="anteriorPagina()" [disabled]="offset === 0">Anterior</button>
    <button class="btn-estilo" (click)="siguientePagina()">Siguiente</button>
    </div>

</div>

