.pantalla-cargando {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 1.2rem;
  background-color: black;
}

p {
  color: white;
  font-weight: bold;
  text-shadow: 0 0 8px, 0 0 12px #ff1493;
  margin-top: 1rem;
}

.loader {
  display: flex;
}

.l,
.l:nth-child(9) {
  margin: 0.15em;
  border-radius: 5em;
  width: 0.4em;
  background-color: #ff1493; 
  height: 3em;
  box-shadow: 1px 1px 4px black;
  animation: load_5186 cubic-bezier(.41, .44, .72, .69) 2s infinite;
}

.l:nth-child(2),
.l:nth-child(8) {
  background-color: #ff3399; 
  animation-delay: .25s;
}

.l:nth-child(3),
.l:nth-child(7) {
  background-color: #ff66b2; 
  animation-delay: .5s;
}

.l:nth-child(4),
.l:nth-child(6) {
  background-color: #ff99cc; 
  animation-delay: .75s;
}

.l:nth-child(5) {
  background-color: #ffb6c1; 
  animation-delay: 1s;
}

@keyframes load_5186 {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(-1);
  }
}
